In [15]:
import pandas as pd
%pylab inline
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("C:/Users/Hannah/Desktop/UT Austin/Analytics - MSBA/summer 19/predictive modeling/STA380-1-master/STA380-1-master/data/greenbuildings.csv")
df.head(5)

Populating the interactive namespace from numpy and matplotlib

,CS_PropertyID,cluster,size,empl_gr,Rent,leasing_rate,stories,age,renovated,class_a,...,green_rating,net,amenities,cd_total_07,hd_total07,total_dd_07,Precipitation,Gas_Costs,Electricity_Costs,cluster_rent
0,379105,1,260300,2.22,38.56,91.39,14,16,0,1,...,1,0,1,4988,58,5046,42.57,0.013700,0.029000,36.78
1,122151,1,67861,2.22,28.57,87.14,5,27,0,0,...,0,0,1,4988,58,5046,42.57,0.013731,0.029045,36.78
2,379839,1,164848,2.22,33.31,88.94,13,36,1,0,...,0,0,1,4988,58,5046,42.57,0.013731,0.029045,36.78
3,94614,1,93372,2.22,35.00,97.04,13,46,1,0,...,0,0,0,4988,58,5046,42.57,0.013731,0.029045,36.78
4,379285,1,174307,2.22,40.69,96.58,16,5,0,1,...,0,0,1,4988,58,5046,42.57,0.013731,0.029045,36.78

In [16]:
len(df)

7894

In [19]:
#create column merging class a and b
for i in range(len(df['class_a'])):
    if df.loc[i, 'class_a'] == 1:
        df.loc[i, 'class'] = 'a'
        
    if df.loc[i, 'class_b'] == 1:
        df.loc[i, 'class'] = 'b'
        
    if df.loc[i, 'class_a'] != 1 and df.loc[i, 'class_b'] != 1:
        df.loc[i, 'class'] = 'c'

In [20]:
df[:5]

,CS_PropertyID,cluster,size,empl_gr,Rent,leasing_rate,stories,age,renovated,class_a,...,net,amenities,cd_total_07,hd_total07,total_dd_07,Precipitation,Gas_Costs,Electricity_Costs,cluster_rent,class
0,379105,1,260300,2.22,38.56,91.39,14,16,0,1,...,0,1,4988,58,5046,42.57,0.013700,0.029000,36.78,a
1,122151,1,67861,2.22,28.57,87.14,5,27,0,0,...,0,1,4988,58,5046,42.57,0.013731,0.029045,36.78,b
2,379839,1,164848,2.22,33.31,88.94,13,36,1,0,...,0,1,4988,58,5046,42.57,0.013731,0.029045,36.78,b
3,94614,1,93372,2.22,35.00,97.04,13,46,1,0,...,0,0,4988,58,5046,42.57,0.013731,0.029045,36.78,b
4,379285,1,174307,2.22,40.69,96.58,16,5,0,1,...,0,1,4988,58,5046,42.57,0.013731,0.029045,36.78,a

In [54]:
# Preprocessing for plotting mean rent of buildings per green status by class
df2 = df.groupby(['class','green_rating'])[['Rent']].agg('mean').reset_index()
df2

  class  green_rating       Rent
0     a             0  32.596415
1     a             1  30.989011
2     b             0  26.406486
3     b             1  26.089242
4     c             0  23.912321
5     c             1  28.171429

In [55]:
df2.to_excel('class_green_rent_groups.xlsx')

In [69]:
# Preprocessing for plotting number of class 'A' buildings per binned cluster rent
df['cluster_rent'].value_counts()
df4 = df[df['class'] == 'a']
df4
#df['cluster_bin'] = pd.cut(df['cluster_rent'], 10)
#df

,CS_PropertyID,cluster,size,empl_gr,Rent,leasing_rate,stories,age,renovated,class_a,...,amenities,cd_total_07,hd_total07,total_dd_07,Precipitation,Gas_Costs,Electricity_Costs,cluster_rent,class,cluster_bin
0,379105,1,260300,2.22,38.56,91.39,14,16,0,1,...,1,4988,58,5046,42.57,0.013700,0.029000,36.780,a,"(33.976, 40.22]"
4,379285,1,174307,2.22,40.69,96.58,16,5,0,1,...,1,4988,58,5046,42.57,0.013731,0.029045,36.780,a,"(33.976, 40.22]"
5,94765,1,231633,2.22,43.16,92.74,14,20,0,1,...,1,4988,58,5046,42.57,0.013731,0.029045,36.780,a,"(33.976, 40.22]"
7,234578,6,225895,4.01,14.77,91.02,15,24,0,1,...,1,2746,1670,4416,25.55,0.010118,0.028869,17.500,a,"(15.244, 21.488]"
8,42087,6,912011,4.01,17.00,99.32,31,34,0,1,...,1,2746,1670,4416,25.55,0.010118,0.028869,17.500,a,"(15.244, 21.488]"
9,233989,6,518578,4.01,17.00,93.54,21,36,1,1,...,1,2746,1670,4416,25.55,0.010118,0.028869,17.500,a,"(15.244, 21.488]"
10,236704,6,241294,4.01,17.00,83.61,11,32,0,1,...,1,2746,1670,4416,25.55,0.010118,0.028869,17.500,a,"(15.244, 21.488]"
11,234263,6,255305,4.01,18.00,95.69,15,25,0,1,...,1,2746,1670,4416,25.55,0.010118,0.028869,17.500,a,"(15.244, 21.488]"
12,234298,6,254920,4.01,18.00,100.00,15,26,0,1,...,1,2746,1670,4416,25.55,0.010118,0.028869,17.500,a,"(15.244, 21.488]"
13,233940,6,745956,4.01,19.00,95.62,31,28,0,1,...,1,2746,1670,4416,25.55,0.010118,0.028869,17.500,a,"(15.244, 21.488]"
14,233941,6,746824,4.01,19.00,67.48,31,29,0,1,...,1,2746,1670,4416,25.55,0.010118,0.028869,17.500,a,"(15.244, 21.488]"
16,431225,8,409889,67.78,30.50,97.06,20,6,0,1,...,0,5240,956,6196,10.46,0.012000,0.023500,25.500,a,"(21.488, 27.732]"
22,224553,8,723922,67.78,25.50,100.00,40,34,0,1,...,0,5240,956,6196,10.46,0.011955,0.023505,25.500,a,"(21.488, 27.732]"
25,224558,8,491623,67.78,29.62,92.04,26,20,0,1,...,1,5240,956,6196,10.46,0.011955,0.023505,25.500,a,"(21.488, 27.732]"
26,224556,8,470464,67.78,31.25,98.31,28,19,0,1,...,1,5240,956,6196,10.46,0.011955,0.023505,25.500,a,"(21.488, 27.732]"
27,224565,8,567163,67.78,33.00,97.36,24,7,0,1,...,1,5240,956,6196,10.46,0.011955,0.023505,25.500,a,"(21.488, 27.732]"
29,204299,11,525422,1.74,25.00,71.10,16,23,0,1,...,1,1113,6001,7114,41.32,0.010800,0.023300,22.000,a,"(21.488, 27.732]"
30,520856,11,184549,1.74,17.50,100.00,6,5,0,1,...,0,1113,6001,7114,41.32,0.010770,0.023300,22.000,a,"(21.488, 27.732]"
31,204385,11,76087,1.74,21.00,89.26,3,21,0,1,...,0,1113,6001,7114,41.32,0.010770,0.023300,22.000,a,"(21.488, 27.732]"
32,204378,11,101711,1.74,22.00,85.19,4,17,0,1,...,0,1113,6001,7114,41.32,0.010770,0.023300,22.000,a,"(21.488, 27.732]"
33,204295,11,487027,1.74,27.00,73.64,27,16,0,1,...,1,1113,6001,7114,41.32,0.010770,0.023300,22.000,a,"(21.488, 27.732]"
34,437486,13,378538,3.27,26.61,95.54,17,22,0,1,...,1,2269,2382,4651,40.70,0.013800,0.022900,25.055,a,"(21.488, 27.732]"
35,437487,13,386596,3.27,23.50,79.79,17,20,0,1,...,1,2269,2382,4651,40.70,0.013810,0.022890,25.055,a,"(21.488, 27.732]"
36,755727,14,841498,1.74,24.50,99.46,40,2,0,1,...,1,1113,6001,7114,41.32,0.010800,0.023300,23.275,a,"(21.488, 27.732]"
40,144297,14,1601744,1.74,16.29,93.77,48,34,1,1,...,1,1113,6001,7114,41.32,0.010770,0.023300,23.275,a,"(21.488, 27.732]"
41,144337,14,733633,1.74,16.78,79.31,37,21,0,1,...,1,1113,6001,7114,41.32,0.010770,0.023300,23.275,a,"(21.488, 27.732]"
42,144318,14,803046,1.74,17.37,72.44,40,26,1,1,...,1,1113,6001,7114,41.32,0.010770,0.023300,23.275,a,"(21.488, 27.732]"
47,144523,14,281325,1.74,19.00,96.02,12,119,1,1,...,1,1113,6001,7114,41.32,0.010770,0.023300,23.275,a,"(21.488, 27.732]"
51,144294,14,1056408,1.74,20.00,92.46,50,15,0,1,...,1,1113,6001,7114,41.32,0.010770,0.023300,23.275,a,"(21.488, 27.732]"
55,144342,14,591430,1.74,20.91,86.79,37,32,1,1,...,1,1113,6001,7114,41.32,0.010770,0.023300,23.275,a,"(21.488, 27.732]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7826,129364,1227,117594,0.97,50.00,95.13,10,51,1,1,...,1,1813,3904,5717,45.73,0.014482,0.032737,43.355,a,"(40.22, 46.464]"
7827,129043,1227,218571,0.97,51.26,96.18,12,21,0,1,...,1,1813,3904,5717,45.73,0.014482,0.032737,43.355,a,"(40.22, 46.464]"
7830,129121,1227,229000,0.97,75.00,99.42,9,20,0,1,...,1,1813,3904,5717,45.73,0.014482,0.032737,43.355,a,"(40.22, 46.464]"
7831,250091,1228,256739,2.38,57.00,86.40,10,7,0,1,...,1,684,1419,2103,22.71,0.010300,0.037800,48.205,a,"(46.464, 52.708]"
7832,1467604,1228,90607,2.38,33.00,100.00,5,12,0,1,...,0,684,1419,2103,22.71,0.010296,0.037808,48.205,a,"(46.464, 52.708]"
7833,623257,1228,285516,2.38,39.41,97.04,12,5,0,1,...,1,684,1419,2103,22.71,0.010296,0.037808,48.205,a,"(46.464, 52.708]"
7834,528007,1228,286210,2.38,57.00,91.18,12,6,0,1,...,0,684,1419,2103,22.71,0.010296,0.037808,48.205,a,"(46.464, 52.708]"
7835,246952,1229,82771,2.38,59.40,93.79,9,32,0,1,...,1,684,1419,2103,22.71,0.010300,0.037800,54.000,a,"(52.708, 58.952]"
7837,246954,1229,55457,2.38,43.80,95.66,4,21,0,1,...,0,684,1419,2103,22.71,0.010296,0.037808,54.000,a,"(52.708, 58.952]"
7838,246936,1229,96000,2.38,54.00,98.65,8,33,1,1,...,1,684,1419,2103,22.71,0.010296,0.037808,54.000,a,"(52.708, 58.952]"
7839,246940,1229,69379,2.38,54.00,100.00,6,26,0,1,...,1,684,1419,2103,22.71,0.010296,0.037808,54.000,a,"(52.708, 58.952]"
7841,157078,1230,922027,1.15,85.00,99.67,45,38,0,1,...,0,1299,4796,6095,48.35,0.011800,0.045500,58.720,a,"(52.708, 58.952]"
7865,157388,1230,250000,1.15,54.49,98.54,24,42,0,1,...,0,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7866,2639,1230,77874,1.15,55.00,98.89,19,20,0,1,...,0,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7869,157198,1230,470563,1.15,59.00,99.02,34,78,1,1,...,1,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7871,157407,1230,177400,1.15,62.00,82.12,23,17,0,1,...,1,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7872,157106,1230,382269,1.15,62.53,93.81,42,76,0,1,...,0,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7874,158136,1230,63775,1.15,65.00,92.48,20,101,0,1,...,0,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7875,157549,1230,225000,1.15,66.41,93.39,20,52,0,1,...,0,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7878,157486,1230,196034,1.15,68.00,84.25,20,45,0,1,...,1,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7879,157138,1230,459566,1.15,72.00,98.12,39,78,0,1,...,1,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7880,157215,1230,501358,1.15,79.53,95.26,33,36,0,1,...,1,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7881,157159,1230,430000,1.15,80.69,98.95,38,80,0,1,...,1,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7882,52969,1230,706601,1.15,85.00,98.57,21,68,0,1,...,0,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7883,157088,1230,1172383,1.15,86.29,84.74,44,18,0,1,...,1,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7884,157104,1230,1034338,1.15,95.00,90.88,42,35,0,1,...,1,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7885,157452,1230,680280,1.15,97.67,99.34,21,55,1,1,...,1,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7887,157053,1230,1518000,1.15,105.00,97.71,49,36,1,1,...,1,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7889,157117,1230,1300000,1.15,137.51,100.00,41,35,0,1,...,0,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"
7893,157086,1230,1876972,1.15,250.00,99.84,45,34,1,1,...,1,1299,4796,6095,48.35,0.011757,0.045457,58.720,a,"(52.708, 58.952]"

In [80]:
# Preprocess for plotting number of class 'A' buildings per binned cluster rent
df5 = df4[['class','cluster_bin']]
df6 = df5.groupby(['cluster_bin'])[['class']].count().sort_index()
df6.to_csv('classA_clusterRent.csv')

In [81]:
df6

                  class
cluster_bin
(8.938, 15.244]     144
(15.244, 21.488]    723
(21.488, 27.732]    937
(27.732, 33.976]    452
(33.976, 40.22]     442
(40.22, 46.464]     248
(46.464, 52.708]     51
(52.708, 58.952]     45
(58.952, 65.196]     39
(65.196, 71.44]      76